<suite name = "Regression Testing" parallel="tests" >

<listeners>
		<listener class-name="ca.amazon.utilities.TestUtils" />
	</listeners>
	
      <test name = "DryRun" allow-return-values="true"> 
           <classes> 
                   <class name = "ca.amazon.DryRun"/>
           </classes>
      </test>
</suite>